/**Navbar Css */
.navbar {
  background-color: #0d87cf;
}

.navbar a
{
  color: white;
  opacity: 0.85;
}

.navbar button:focus, .navbar button:active {
  background-color: #0d87cf;
  opacity: 0.85;
}

.navbar button span{

  background-color: white;
}

/** End Navbar CSS*/

/** Login*/

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}
body {
  font-family: Arial, monospace;
  background-color: #3498DB;
  padding: 50px;
}

.app-title {
  text-align: center;
  color: #777;
}

.control-group {
  margin-bottom: 10px;
}

input {
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border .5s;
}

input:focus {
  border: 2px solid #3498DB;
  box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #2980B9;
}

/** Login End*/

/** Timebar */
.anchor-frame
{
  border: 1px solid #ffffff;
  padding-top:10px;
  padding-bottom: 10px;
  line-height: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  background: #0d87cf;
  z-index: 2;
  text-align: center;
}

.message-box
{
  color: #ffffff;
  text-align: center;
  font-size: 100%;
}

/** End Timebar */

#logoPicture
{
  width: 45px;
  height: 45px;
  position: absolute;
  top: 2px;
  padding: 3px;
  left: 25px;
}

#choosen-avatarPicture
{
  cursor: pointer;
  width: 45px;
  height: 45px;
  position: absolute;
  padding: 3px;
  top: 2px;
  right: 95px;
}

@media (max-width:960px)
{
  #logoPicture
  {
    width: 45px;
    height: 45px;
    position: absolute;
    padding: 3px;
    left: 5px;
  }

  #option-avatar-button
  {
    position: relative;
    left: 20%;
    width: 80%;
  }

  #choosen-avatarPicture
  {
    width: 45px;
    height: 45px;
    position: absolute;
    padding: 3px;
    top: 2px;
    right: 65px;
  }
}


#avatar-collection {
  text-align: center;
}

.avatar-picture
{
  position: relative;
  width: 100%;
}

.avatar-picture :hover
{
  cursor: pointer;
  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* IE 9 */
  -o-transform:scale(1.25); /* Opera */
  transform:scale(1.25);
}

#button-back, #button-save
{
  float: left;
  margin: 5px;
  width: 35%;
}

#option-avatar-button {
  position: relative;
  left: 22%;
  width: 80%;
}

@media (orientation: portrait) {

  #avatar1, #avatar2, #avatar3, #avatar4, #avatar5, #avatar6 {
    height: 80px;
    width: 80px;
  }
}

@media (orientation: landscape) {
  #avatar-collection
  {
    position: relative;
    bottom: 45px;
  }
  #option-avatar-button
  {
    bottom: 50px;
  }
}
