.question-frame
{
  border: 1px solid #ffffff;
  background: #0d87cf;
	width: 80%;
	height: auto;
	/*position: relative;
	top: 50px;*/
	left: 9.9%;
	opacity: 0.85;
	z-index: -1;
}

.answer-frame
{
	/*position: absolute;*/
	width: 80%;
	/*top: 365px;*/
	left: 9.9%;
	/*z-index: -2; <= Verhindert das Drücken der Buttons*/
}

#question-string, #question-string-lade
{
	color: #ffffff;
	text-align: center;
	font-size: 115%;
}

#answerA:hover
{
  background-color: #3498DB;
}

#answerB:hover
{
  background-color: #3498DB;
}

#answerC:hover
{
  background-color: #3498DB;
}

#answerD:hover
{
  background-color: #3498DB;
}

#answerA, #answerB, #answerC, #answerD
{
  background-color: #0d87cf;
  border: 1px solid #ffffff;
  cursor: pointer;
	width: 50%;
	opacity: 0.85;
  float: left;
}
.answer-string
{
	color: #ffffff;
	text-align: center;
	font-size: 90%;
	font-style: initial;
}

@media (orientation: portrait)
{

	#rahmenderFrage
	{
		position: relative;
		top: 40px;
	}

	#rahmenderAntwort
	{
		position: absolute;
		top: 365px;
	}

	.anchor-frame
	{
		position: absolute;
		bottom: 0;
	}
}

@media (orientation: landscape)
{
	#rahmenderFrage
	{
		position: absolute;
		top: 55px;
	}

	#rahmenderAntwort
	{
		position: relative;
		top: 90px;
	}

	.anchor-frame
	{
		position: absolute;
		bottom: 0;
	}
}

#choosen-avatarPicture
{
  cursor: no-drop;
  width: 45px;
  height: 45px;
  position: absolute;
  padding: 3px;
  top: 2px;
  right: 25px;
}

#logoPicture
{
  width: 45px;
  height: 45px;
  position: absolute;
  top: 2px;
  padding: 3px;
  left: 15px;
}

#logoPicture:hover
{
  cursor: no-drop;
}

@media (max-width:960px)
{
#logoPicture
{
  width: 45px;
  height: 45px;
  position: absolute;
  padding: 3px;
  left: 5px;
}
  #choosen-avatarPicture
  {
    width: 45px;
    height: 45px;
    position: absolute;
    padding: 3px;
    top: 2px;
    right: 65px;
  }
}

/**@media (min-width:960px)
{



	.answer-button
	{
		min-height: 51px;
	}

	#rahmenderFrage
    {
      position: relative;
		  top: 50px;
    }

    #rahmenderAntwort
    {
		  position: absolute;
		  top: 365px;
    }
}
*/
/** Navbar CSS*/
/**Navbar Css */
.navbar {
  background-color: #0d87cf;
}

.navbar a
{
  color: white;
  opacity: 0.85;
}

.navbar button:focus, .navbar button:active {
  background-color: #0d87cf;
  opacity: 0.85;
}

.navbar button span{

  background-color: white;
}

/** End Navbar CSS*/

/** Timebar */


.anchor-frame
{
  border: 1px solid #ffffff;
  padding-top:10px;
  padding-bottom: 10px;
  line-height: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  background: #0d87cf;
  z-index: 2;
  text-align: center;
}


.Timer
{
  color: #ffffff;
  text-align: center;
  font-size: 100%;
}

/** End Timebar */

/** popup*/

