<!--<div *ngIf="test">-->

  <app-background></app-background>

  <!--Navbar-->
  <nav class="navbar navbar-default">

    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <button id="burger" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Menue navigation</span>
          <span id="firstBar" class="icon-bar"></span>
          <span id="secondBar" class="icon-bar"></span>
          <span id="thirdBar" class="icon-bar"></span>
        </button>


        <a> <img id="logoPicture" class="navbar-brand" src="../../assets/logo.png"> </a>
        <a> <img id="choosen-avatarPicture" class="navbar-brand" src={{avatarLinkString}}> </a>

      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul id="menu-fifty-fifty" class="nav navbar-nav navbar-left">
          <li id="menu-item-1" *ngIf="!fiftyFiftyDisabled"><div  (click)="activateJoker(1)">50/50</div></li>
          <li id="menu-item-3" *ngIf="fiftyFiftyDisabled"><a >50/50</a></li>
        </ul>

        <ul id="menu-spezial-joker" class="nav navbar-nav navbar-left">
          <li id="menu-item-2" *ngIf="!specialJokerDisabled"><div  (click)="activateJoker(2)">special Joker</div></li>
          <li id="menu-item-4" *ngIf="specialJokerDisabled"><a >special Joker</a></li>
        </ul>
      </div> <!--/.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div class="question-frame" id="rahmenderFrage">
    <p class="frage-string" id="question-string" *ngIf="frage != undefined">{{frage.Verbalization}}</p>
    <p class="frage-string" id="question-string-lade" *ngIf="frage == undefined">lade...</p>
  </div>

  <div class="answer-frame" id="rahmenderAntwort">

    <button class="btn btn-default btn-lg" id="answerA" (click)="nextQuestion(0)">
      <p *ngIf="frage != undefined" class="answer-string" id="answer-stringA"> {{frage.Option0}} </p>
    </button>

    <button class="btn btn-default btn-lg" id="answerB" (click)="nextQuestion(1)">
      <p *ngIf="frage != undefined" class="answer-string" id="answer-stringB"> {{frage.Option1}} </p>
    </button>

    <button class="btn btn-default btn-lg" id="answerC" (click)="nextQuestion(2)">
     <p *ngIf="frage != undefined" class="answer-string" id="answer-stringC"> {{frage.Option2}} </p>
    </button>

    <button class="btn btn-default btn-lg" id="answerD" (click)="nextQuestion(3)">
      <p *ngIf="frage != undefined" class="answer-string" id="answer-stringD"> {{frage.Option3}} </p>
    </button>

  </div>
  <!-- Timebar -->

  <div class="anchor-frame" id="status-frame">
    <div class="Timer">
      {{verbrauchteGesamtZeit}} + {{richtigeAntworten}}
      <div id="timer-status-bar"></div>
    </div>
  </div>

  <!-- End Timebar -->
<!--</div> -->
<!--
<div *ngIf="!test">
  <h1>Bitte Einloggen</h1>
</div>
-->

<!-- PopUp-->
