<div *ngIf="test">
  <app-navbar></app-navbar>
  <app-timerbar></app-timerbar>
  <app-background></app-background>
  <div class="question-frame" id="rahmenderFrage">
    <p class="frage-string" id="question-string"> {{greeting.content}} </p>
  </div>

  <div class="answer-frame" id="rahmenderAntwort">

    <button class="btn btn-default btn-lg" id="answerA" onclick="answerClick()">
      <p class="answer-string" id="answer-stringA"> {{greeting.id}} </p>
    </button>

    <button class="btn btn-default btn-lg" id="answerB" onclick="answerClick()">
      <p class="answer-string" id="answer-stringB"> {{greeting.id}} </p>
    </button>

   <button class="btn btn-default btn-lg" id="answerC" onclick="answerClick()">
      <p class="answer-string" id="answer-stringC"> {{greeting.id}} </p>
    </button>

    <button class="btn btn-default btn-lg" id="answerD" onclick="answerClick()">
      <p class="answer-string" id="answer-stringD"> {{greeting.id}} </p>
    </button>

  </div>
</div>
<div *ngIf="!test">
  <h1>Bitte Einloggen</h1>
</div>
