<!-- <startLogin>Felder zum einfügen der login Informationen -->
<app-background></app-background>

<!-- <app-signup></app-signup> -->

<!--Navbar-->
<nav class="navbar navbar-default">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button id="burger" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

        <span class="sr-only">Menue navigation</span>
        <span id="firstBar" class="icon-bar"></span>
        <span id="secondBar" class="icon-bar"></span>
        <span id="thirdBar" class="icon-bar"></span>

      </button>
      <ul>
      <a href="menu"> <img id="logoPicture" class="navbar-brand" src="../../assets/logo.png"> </a>
      </ul>

      <ul>
        <a href="options"> <img id="choosen-avatarPicture" class="navbar-brand" src={{avatarLinkString}}></a>
      </ul>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul id="menu-changeavatar" class="nav navbar-nav navbar-left">
        <li id="menu-item.1"><a href="info">Info</a></li>
      </ul>

      <ul id="menu-logout" class="nav navbar-nav navbar-right">
        <li id="menu-item.2" (click)="logout()"><a href="">Log Out</a></li>
      </ul>

    </div> <!--/.navbar-collapse -->

  </div><!-- /.container-fluid -->

</nav>

<!--End-Navbar-->

<div id="change-option-button-div">
  <br>
  <br>
  <a id="change-option-button-pw" class="btn btn-primary btn-large btn-block" href="password">Change Password</a>
  <br>
  <a id="change-option-button-av" class="btn btn-primary btn-large btn-block" href="avatar">Change Avatar</a>
</div>

<!-- Timebar -->

<div class="anchor-frame" id="status-frame">
  <div class="Timer" *ngIf="text != ''">
    Status: {{text}}
  </div>
</div>

<!-- End Timebar -->
