<div *ngIf="isUserLoggesIn">
  <!-- <startLogin>Felder zum einfügen der login Informationen -->
  <app-background></app-background>

  <!-- <app-signup></app-signup> -->
  <app-navbarmenu></app-navbarmenu>

  <app-timerbar></app-timerbar>

  <div id="change-option-button-div">
    <br>
    <a id="change-option-button-pw" class="btn btn-primary btn-large btn-block" (click)="link('password')">Change Password</a>
    <br>
    <a id="change-option-button-av" class="btn btn-primary btn-large btn-block" (click)="link('avatar')">Change Avatar</a>
    <br>
    <a id="change-option-button-back" class="btn btn-primary btn-large btn-block" (click)="link('menu')">Back to Main Menu</a>
  </div>
</div>
