.btn
{
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 25px;
  line-height: 25px;
  padding: 12px auto;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 40%;
  height: 55px;
  margin: 10px auto;
}

.btn:hover
{
  background-color: #2980B9;
}

@media (max-width:960px)
{
  .btn
  {
    font-size: 16px;
  }

  @media (orientation: landscape)
  {
    .btn
    {
      height: 40px;
      padding: 5px;
      margin: 0 auto;
    }
  }

  @media (orientation: portrait)
  {
    .btn
    {
      width: 50%
    }
  }
}
