<!-- <startLogin>Felder zum einfügen der login Informationen -->
<app-background></app-background>

<!-- <app-signup></app-signup> -->

<!--Navbar-->
<nav class="navbar navbar-default">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button id="burger" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

        <span class="sr-only">Menue navigation</span>
        <span id="firstBar" class="icon-bar"></span>
        <span id="secondBar" class="icon-bar"></span>
        <span id="thirdBar" class="icon-bar"></span>

      </button>
      <ul>

        <!--  <img class="navbar-brand" href="#" src="./assets/avatar.jpg"> -->

      </ul>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">



    </div> <!--/.navbar-collapse -->

  </div><!-- /.container-fluid -->

</nav>

<!--End-Navbar-->


<!-- Timebar -->

<div class="anchor-frame" id="status-frame">



  <div class="Timer" *ngIf="text != null">
    Status: {{text}}





  </div>
</div>

<div class="container" id="changePassword-Frame">
  <div class="row">
    <div class="col-sm-12">
      <h1>Change Password</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <form method="post" id="passwordForm">
        <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">
        <div class="row">
  <br>
        </div>
        <input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
        <div class="row">

        </div>
        <br>
        <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password">
      </form>
    </div><!--/col-sm-6-->
  </div><!--/row-->
</div>
<!-- End Timebar -->

