/**Navbar Css */
.navbar {
  background-color: #0d87cf;
  font-size: 1.5em;
}

.navbar a
{
  color: white;
  opacity: 0.85;
}

.navbar button:focus, .navbar button:active {
  background-color: #0d87cf;
  opacity: 0.85;
}

.navbar button span{

  background-color: white;
}

#menu-topmenu, .login-link:hover
{
  cursor: pointer;
}

@media (min-width: 961px) {
  #menu-item-1
  {
    position: relative;
    left: 40px;
  }
}

/** End Navbar CSS*/

/**QW Logo Css*/

#logoPicture
{
  width: 45px;
  height: 45px;
  position: absolute;
  top: 2px;
  padding: 3px;
  left: 15px;
}

#logoPicture:hover
{
  cursor: pointer;
}

@media (max-width:960px) {
  #logoPicture {
    width: 45px;
    height: 45px;
    position: absolute;
    padding: 3px;
    left: 5px;
  }

  .navbar
  {
    font-size: 1em;
  }
}

/**End QW Logo css*/
