/**Navbar Css */
.navbar {
  background-color: #0d87cf;
}

.navbar a
{
  color: white;
  opacity: 0.85;
}

.navbar button:focus, .navbar button:active {
  background-color: #0d87cf;
  opacity: 0.85;
}

.navbar button span{

  background-color: white;
}

/** End Navbar CSS*/

/** Login*/

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}
body {
  font-family: Arial, monospace;
  background-color: #3498DB;
  padding: 50px;
}
.login {
  position: relative;
  bottom: 10px;
  margin: 20px auto;
  width: 300px;
}

@media (orientation: landscape) {
  @media (max-width: 700px) {
    #login-main-div {
      margin: 1px auto;
    }
    .login {
      bottom: 60px;
    }
   @media (max-width: 600px) {
     .login {
       bottom: 90px;
     }
   }
  }
}

.login-screen {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px
}

.app-title {
  text-align: center;
  color: #777;
}

.login-form {
  text-align: center;
}
.control-group {
  margin-bottom: 10px;
}

input {
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border .5s;
}

input:focus {
  border: 2px solid #3498DB;
  box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #2980B9;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;
}

/** Login End*/

/** Timebar */


.anchor-frame
{
  border: 1px solid #ffffff;
  padding-top:10px;
  padding-bottom: 10px;
  line-height: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  background: #0d87cf;
  z-index: 2;
  text-align: center;
}


.Timer
{
  color: #ffffff;
  text-align: center;
  font-size: 100%;
}

#logoPicture
{
  width: 45px;
  height: 45px;
  position: absolute;
  top: 2px;
  padding: 3px;
  left: 25px;
}


#logoPicture
{
  width: 45px;
  height: 45px;
  position: absolute;
  top: 2px;
  padding: 3px;
  left: 15px;
}

#logoPicture:hover
{
  cursor: pointer;
}

@media (max-width:960px) {
  #logoPicture {
    width: 45px;
    height: 45px;
    position: absolute;
    padding: 3px;
    left: 5px;
  }
}

/** End Timebar */
#menu-topmenu:hover
{
  cursor: pointer;
}

@media (min-width: 961px) {
  #menu-item-1
  {
    position: relative;
    left: 40px;
  }
}
