 <!-- <startLogin>Felder zum einfügen der login Informationen -->
 <app-background></app-background>
<!-- <app-signup></app-signup> -->

<!--Navbar-->
 <nav class="navbar navbar-default">

   <div class="container-fluid">
     <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">

       <button id="burger" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

         <span class="sr-only">Menue navigation</span>
         <span id="firstBar" class="icon-bar"></span>
         <span id="secondBar" class="icon-bar"></span>
         <span id="thirdBar" class="icon-bar"></span>

       </button>

       <ul>
         <a href="menu"> <img id="logoPicture" class="navbar-brand" src="../assets/logo.png"> </a>
       </ul>

     </div>
     <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

       <ul id="menu-topmenu" class="nav navbar-nav navbar-left">
         <li id="menu-item-2"><a href="info">Info</a></li>

       </ul>
     </div> <!--/.navbar-collapse -->
   </div><!-- /.container-fluid -->
 </nav>
<!--End-Navbar-->

 <div class="login">
   <div class="login-screen">
     <div class="app-title">
       <h1>Login</h1>
     </div>

     <div class="login-form">
       <div class="control-group">
         <input class="login-field" value="" placeholder="e-mail" id="inEmail">
         <label class="login-field-icon fui-user" for="inEmail"></label>
       </div>

       <div class="control-group">
         <input type="password" class="login-field" value="" placeholder="password" id="inPassword">
         <label class="login-field-icon fui-lock" for="inPassword"></label>
       </div>

       <a class="btn btn-primary btn-large btn-block" (click)="sendLoginData()">login</a>
       <a class="login-link" href="signup">Or Sign Up?</a>
     </div>
   </div>
 </div>

 <!-- Timebar -->
 <div class="anchor-frame" id="status-frame">

   <div class="Timer" *ngIf="text != null">
     Status: {{text}}
   </div>

 </div>
 <!-- End Timebar -->
