<!-- <startLogin>Felder zum einfügen der login Informationen -->
<app-background></app-background>

<app-navbarmenu></app-navbarmenu>

<app-timerbar></app-timerbar>

<!--Main Menu-->
<div id="mainMenu">
  <br>
  <a class="btn btn-primary btn-large btn-block" (click)="GameModeMenu()">Singleplayer</a>
  <br>
  <a class="btn btn-primary btn-large btn-block" (click)="link('stats')">Statistic</a>
  <br>
  <a class="btn btn-primary btn-large btn-block" (click)="link('options')">Options</a>
</div>


<!--Main Menu 2 SinglePlayerSelection-->
<div id="mainMenu2">
  <br>
  <a class="btn btn-primary btn-large btn-block" (click)="XQuizSelection()">XQuiz</a>
  <br>
  <a class="btn btn-primary btn-large btn-block" (click)="start('1', '0')">Survival</a>
</div>

<!--Main Menu 3 XQuiz Selection-->
<div id="mainMenu3">
  <br>
  <a class="btn btn-primary btn-large btn-block" (click)="start('xquiz', '10')">10 Questions</a>
  <br>
  <a class="btn btn-primary btn-large btn-block" (click)="start('xquiz', '30')">30 Questions</a>
  <br>
  <a class="btn btn-primary btn-large btn-block" (click)="start('xquiz', '50')">50 Questions</a>
</div>
