/**Navbar Css */
.navbar {
  background-color: #0d87cf;
}

.navbar a
{
  color: white;
  opacity: 0.85;
}

.navbar button:focus, .navbar button:active {
  background-color: #0d87cf;
  opacity: 0.85;
}

.navbar button span{

  background-color: white;
}

.menuePoint
{
  font-size: 14px;
}
/** End Navbar CSS*/

/** aussenframe */

.prof {
    left: 5%;
    position: absolute;
}

.students {
  left: 5%;
  position: absolute;
}
.danke {
  right: 15%;
  position: absolute;
  width: 150px;
}

.beteiligte {
  visibility: hidden;
  position: absolute;
}

@media (orientation: landscape){
  @media (min-width:1366px)
  {
    .prof {
      visibility: hidden;
    }

    .students {
      visibility: hidden;
    }

    .beteiligte {
      left: 5%;
      position: absolute;
      visibility: visible;
    }

    .danke {
      right: 15%;
      position: absolute;
      width: 150px;
    }
  }
}



@media (max-width:1024px)
{
	.prof, .danke, .students {
		position: relative;
        font-size: 85%;
        left: 5%;
	}

  .beteiligte {
    visibility: hidden;
  }
}

@media (max-height:420px)
{
    .prof {
        font-size: 85%;
        position: absolute;
    }

    .students {
        position: absolute;
        left: 35%;
        width: 150px;
        top: 160px;

    }

    .danke {
        font-size: 85%;
        position: absolute;
        left: 65%;
    }


    .beteiligte {
      visibility: hidden;
    }
}



/** Timebar */
.anchor-frame
{
  border: 1px solid #ffffff;
  padding-top:10px;
  padding-bottom: 10px;
  line-height: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  background: #0d87cf;
  z-index: 2;
  text-align: center;
}

.Timer
{
  color: #ffffff;
  text-align: center;
  font-size: 100%;
}

#logoPicture
{
  width: 45px;
  height: 45px;
  position: absolute;
  top: 2px;
  padding: 3px;
  left: 25px;
}
/** End Timebar */
