<!-- <startLogin>Felder zum einfügen der login Informationen -->
<app-background></app-background>

<app-timerbar></app-timerbar>

<!--Navbar-->
 <nav class="navbar navbar-default">

   <div class="container-fluid">
     <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">

       <button id="burger" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
         <span class="sr-only">Menue navigation</span>
         <span id="firstBar" class="icon-bar"></span>
         <span id="secondBar" class="icon-bar"></span>
         <span id="thirdBar" class="icon-bar"></span>
       </button>

       <a (click)="link('menu')"> <img id="logoPicture" class="navbar-brand" src="../../assets/logo.png"> </a>
     </div>

     <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"></div> <!--/.navbar-collapse -->
   </div><!-- /.container-fluid -->
 </nav> <!--End-Navbar-->



<!-- aussenframe -->
<div class="aussenframe">

  <!-- beteiligte -->
  <div class="beteiligte">

    <h2>Info</h2>
    <h4>Projektbetreuer:</h4>
    <ul>
    <li class="name">Klaus Berberich</li>
    </ul>
    <h4>Studenten:</h4>
    <ul>
    <li class="name">Behat Halilaj</li>
    <li class="name">Florian Hennrich</li>
    <li class="name">Janik Hinsberger</li>
    <li class="name">Nicolas Loosen</li>
    <li class="name">Mesut Oezcan</li>
    <li class="name">Björn Schmidt</li>
    <li class="name">Cedric Schreiner</li>
    <li class="name">Robin Tauer</li>
    </ul>

  </div> <!-- End beteiligte -->
    <!-- prof -->
    <div class="prof">

        <h2>Info</h2>
        <h4>Projektbetreuer:</h4>
      <ul>
        <li class="name">Klaus Berberich</li>
      </ul>
        <h4>Studenten:</h4>
      <ul>
        <li class="name">Behat Halilaj</li>
        <li class="name">Florian Hennrich</li>
      </ul>

    </div>  <!-- END prof -->

    <!-- students -->
    <ul class="students">
        <li class="name">Janik Hinsberger</li>
        <li class="name">Nicolas Loosen</li>
        <li class="name">Mesut Oezcan</li>
        <li class="name">Björn Schmidt</li>
        <li class="name">Cedric Schreiner</li>
        <li class="name">Robin Tauer</li>
    </ul> <!-- END students -->


    <div class="danke">
      <h2>Dankeschön:</h2>
      <p>Ein besonderes und herzliches Dankeschön geht an <a href="https://mite.yo.lk/" style="text-decoration:none">mite.yo.lk</a>
         welche uns einen kostenlosen Account im Rahmen des Projekts zur Verfügung gestellt haben. </p>


    </div>




    <!-- Kontakt -->
  <!--  <div class="kontakt">
        <h1>Kontakt</h1>
        <h4>Projektbetreuer:</h4>
        <a href="mailto:klaus.berberich@htwsaar.de" style="text-decoration:none;">klaus.berberich@htwsaar.de</a>
        <h4>Studenten:</h4>
        <a href="mailto:behalilaj@htwsaar.de" style="text-decoration:none;">behalilaj@htwsaar.de</a> <br>
        <a href="mailto:fhennrich@htwsaar.de" style="text-decoration:none;">fhennrich@htwsaar.de</a> <br>
        <a href="mailto:jhinsberger@htwsaar.de" style="text-decoration:none;">jhinsberger@htwsaar.de</a> <br>
        <a href="mailto:nloosen@htwsaar.de" style="text-decoration:none;">nloosen@htwsaar.de</a> <br>
        <a href="mailto:moezcan@htwsaar.de" style="text-decoration:none;">moezcan@htwsaar.de</a> <br>
        <a href="mailto:bjschmidt@htwsaar.de" style="text-decoration:none;">bjschmidt@htwsaar.de</a> <br>
        <a href="mailto:cschreiner@htwsaar.de" style="text-decoration:none;">cschreiner@htwsaar.de</a> <br>
        <a href="mailto:rtauer@htwsaar.de" style="text-decoration:none;">rtauer@htwsaar.de</a>

    </div> // End Kontakt -->


</div> <!-- End aussenframe -->
