<!-- <startLogin>Felder zum einfügen der login Informationen -->
<app-background></app-background>

<app-navbar></app-navbar>



<div class="info">

<h1>Info</h1>
    <h3>Am Projekt beteiligt waren:</h3>
    <h4>Projektbetreuer:</h4>
    <li class="name">Klaus Berberich</li>

    <h4>Studenten:</h4>
    <li class="name">Behat Halibaj</li>
    <li class="name">Florian Heinrich</li>
    <li class="name">Janik Hirsberger</li>
    <li class="name">Nicolas Loosen</li>
    <li class="name">Mesut Oezcan</li>
    <li class="name">Björn Schmidt</li>
    <li class="name">Cedric Schreiner</li>
    <li class="name">Robin Tauer</li>
    
    
    
    
    
    
</div>