<!-- <startLogin>Felder zum einfügen der login Informationen -->
<app-background></app-background>

<app-navbarmenu></app-navbarmenu>


<!--Main Menu-->
<div id="resultMenu">
<button class="btn " >Retry</button>
<button class="btn " >Ready</button>
    <div class="col-lg-3">
      <img src="../../assets/5_Star_Rating_System_5_stars.png"/>
    </div>
  <label class="label1" >
    <p class="first-label">10/10</p>
    Erreichte Punktzahl
  </label>
  <label>

  </label>
</div>

<!-- Timebar -->
<div class="anchor-frame" id="status-frame">
</div>

<!-- Rating-->

