<!-- <startLogin>Felder zum einfügen der login Informationen -->
<app-background></app-background>

<app-navbarmenu></app-navbarmenu>

<app-timerbar></app-timerbar>


<!--Main Menu-->
<div id="resultMenu">
  <div id="starsImageDiv">
 <img id="imageStars" src="../../assets/5_Star_Rating_System_5_stars_T.png"/>
    <div id="resultDiv">
      <div class="hit-the-floor" id="verhaeltnis">Quote: {{verhaeltnis}}</div>
      <div class="hit-the-floor" id="punkte">Points: {{punkte}}</div>
    </div>
  </div>
  <br>
  <div id="buttons">
<button class="btn" id="btnRetry">Retry</button>
<button class="btn" id="btnReady">Ready</button>
  </div>
</div>

<!-- Rating-->

