<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!-- <startSignup>Felder zum einfügen der Registrierungs Informationen -->
<label>Name: </label><br>
<input style="width: 204px" type="text" id="inName"/><br>
<label>Email: </label><br>
<input style="width: 204px" type="email" id="inEmail"/><br>
<label>Password: </label><br>
<input style="width: 204px" type="password" id="inPassword"/><br>
<button style="width: 100px" (click)="sendSignUpData()">Signup</button>
<!-- </endSignup>-->
<!-- <startOutputData>Ausgabe der erhaltenen User Daten(kann spaeter entfaernt werden) -->
<div>
  <label>Status: </label>
  <label></label>
</div>
</body>
</html>
