<!-- <startLogin>Felder zum einfügen der login Informationen -->
<app-background></app-background>

<!-- <app-signup></app-signup> -->
<app-navbarmenu></app-navbarmenu>
<div class="changepw" id="change-password-frame">
  <div class="login-screen">
    <div class="app-title">
      <h1>Change Password</h1>
    </div>

    <div class="login-form">
      <div class="control-group">
        <input type="password" class="login-field" value="" placeholder="new password" id="newpasswd1">
        <label class="login-field-icon fui-user" for="newpasswd1"></label>
      </div>

      <div class="control-group">
        <input type="password" class="login-field" value="" placeholder="repeat password" id="newpasswd2">
        <label class="login-field-icon fui-lock" for="newpasswd2"></label>
      </div>

      <a class="btn btn-primary btn-large btn-block" (click)="sendChangePassword()">Save</a>
      <br>
      <br>
      <a class="btn btn-primary btn-large btn-block" (click)="link('options')">Back</a>
    </div>
  </div>
</div>

<!-- Timebar -->

<div class="anchor-frame" id="status-frame">
  <div class="message-box" *ngIf="text != undefined">
    Status: {{text}}
  </div>
</div>

<!-- End Timebar -->
