/* You can add global styles to this file, and also import other style files */

body
{
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

/* ! definition of Screen on mobile devices w/ relatively low resolution IN LANDSCAPE MODE */

@media (orientation: landscape) {
  @media (max-width: 700px) {

    body {
      margin: 0;
      /*overflow: visible;*/
      height: 110vh;
    }
  }
}


@media (orientation: landscape) {
  @media (max-width: 600px) {

    body {
      margin: 0;
      overflow: visible;
      height: 125vh;
    }
  }
}


/* End of definition*/

    body ::selection
{
  background: transparent;
  color: inherit;
}

