<app-background></app-background>
<app-navbarmenu></app-navbarmenu>
<app-timerbar></app-timerbar>

<div>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#top-ten-personal-xquiz">Top10 Personal XQuiz</a></li>
    <li><a data-toggle="tab" href="#top-ten-personal-survival">Top10 Personal Survival</a></li>
    <li><a data-toggle="tab" href="#top-ten-world-xquiz">Top10 WorldWide XQuiz</a></li>
    <li><a data-toggle="tab" href="#top-ten-world-survival">Top10 WorldWide Survival</a></li>
  </ul>

  <div class="tab-content">

    <div id="top-ten-personal-xquiz" class="tab-pane fade in active">
      <table border="1px" id="stats-table-persoanl-xquiz">
        <thead>
        <tr id="stats-table-personal-xquiz-header">
          <td>Platz</td>
          <td>Beantwortete Fragen</td>
          <td>Richtige Antworten</td>
          <td>Gespielte Spiele</td>
          <td>Höchste Punkt</td>
          <td>Spieler Name</td>
        </tr>
        </thead>
      </table>
    </div>

    <div id="top-ten-personal-survival" class="tab-pane fade">
      <table border="1px" id="stats-table-personal-survival">
        <thead>
        <tr id="stats-table-personal-survival-header">
          <td>Platz</td>
          <td>Beantwortete Fragen</td>
          <td>Richtige Antworten</td>
          <td>Gespielte Spiele</td>
          <td>Höchste Punkt</td>
          <td>Spieler Name</td>
        </tr>
        </thead>
      </table>
    </div>

    <div id="top-ten-world-xquiz" class="tab-pane fade">
      <table border="1px" id="stats-table-world-xquiz">
        <thead>
        <tr id="stats-table-world-xquiz-header">
          <td>Platz</td>
          <td>Beantwortete Fragen</td>
          <td>Richtige Antworten</td>
          <td>Gespielte Spiele</td>
          <td>Höchste Punkte</td>
          <td>Spieler Name</td>
        </tr>
        </thead>
      </table>
    </div>

    <div id="top-ten-world-survival" class="tab-pane fade">
      <table border="1px" id="stats-table-world-survival">
        <thead>
        <tr id="stats-table-world-survival-header">
          <td>Platz</td>
          <td>Beantwortete Fragen</td>
          <td>Richtige Antworten</td>
          <td>Gespielte Spiele</td>
          <td>Höchste Punkt</td>
          <td>Spieler Name</td>
        </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

<div class="anchor-frame">
</div>
