/* Statistik Table Content*/
.tab-content:hover
{
  cursor: default;
}

table
{
  font-size: 20px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 1%;
}

td
{
  height: 40px;
  text-align: center;
}

tr
{
  background: #FFFFFF;
}

tr:nth-child(even)
{
  background-color: #B0E2FF;
}

th
{
  height: 50px;
  color: #FFFFFF;
  background: #0d87cf;
  text-align: center;
}

th, td
{
  padding-left: 7px;
  padding-right: 7px;
}

tr,td,th
{
  border: 2px solid black;
}

#last-row-xquiz
{
  visibility: hidden;
}

#last-row-survival
{
  visibility: hidden;
}
/* Statistik Table Content End*/
