<div *ngIf="isUserLoggesIn">
  <app-background></app-background>
  <app-navbarmenu></app-navbarmenu>

  <div>
    <ul class="nav nav-tabs">
      <li class="active"><a id="personal-xquiz-tab" data-toggle="tab" href="#top-ten-personal-xquiz">Test</a></li>
      <li><a id="personal-survival-tab" data-toggle="tab" href="#top-ten-personal-survival">Test</a></li>
      <li><a id="personal-time-tab" data-toggle="tab" href="#top-ten-personal-time">Test</a></li>
      <li><a id="world-xquiz-tab" data-toggle="tab" href="#top-ten-world-xquiz">Test</a></li>
      <li><a id="world-survival-tab" data-toggle="tab" href="#top-ten-world-survival">Test</a></li>
    </ul>

    <br>

    <div class="tab-content">
      <div id="top-ten-personal-xquiz" class="tab-pane fade in active">

      </div>

      <div id="top-ten-personal-survival" class="tab-pane fade">

      </div>

      <div id="top-ten-personal-time" class="tab-pane fade">

      </div>

      <div id="top-ten-world-xquiz" class="tab-pane fade">

      </div>

      <div id="top-ten-world-survival" class="tab-pane fade">

      </div>
    </div>
  </div>

  <div class="anchor-frame" id="status-frame">
    <div class="Timer">
      The table is sorted by the highest score
    </div>
  </div>
  </div>





