/* Statistik Table Content*/
.tab-content:hover
{
  cursor: default;
}

tr,td,th
{
  border: 1px solid black;
}

table
{
  font-size: 20px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border-collapse: separate;
  empty-cells: hide;
}

td
{
  height: 40px;
  text-align: center;
}

tr
{
  background: #FFFFFF;
}

tr:nth-child(even)
{
  background-color: #f2f2f2
}

th
{
  height: 50px;
  color: #FFFFFF;
  background: #0d87cf;
  text-align: center;
}
/* Statistik Table Content End*/
