<div *ngIf="isUserLoggesIn">
  <app-background></app-background>
  <app-navbarmenu></app-navbarmenu>

  <div>
    <ul class="nav nav-tabs">
      <li class="active"><a id="personal-xquiz-tab" data-toggle="tab" href="#top-ten-personal-xquiz"></a></li>
      <li><a id="personal-survival-tab" data-toggle="tab" href="#top-ten-personal-survival"></a></li>
      <li><a id="world-xquiz-tab" data-toggle="tab" href="#top-ten-world-xquiz"></a></li>
      <li><a id="world-survival-tab" data-toggle="tab" href="#top-ten-world-survival"></a></li>
    </ul>

    <br>

    <div class="tab-content">
      <div id="top-ten-personal-xquiz" class="tab-pane fade in active">
        <table id="a" (timeupdate)="createTopTenPlayerXquiz()">
          <thead>
          <tr id="stats-table-personal-xquiz-header">
            <th>Top</th>
            <th>Answered Questions</th>
            <th>Right Answers</th>
            <th>Score</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div id="top-ten-personal-survival" class="tab-pane fade">
        <table id="stats-table-personal-survival">
          <thead>
          <tr id="stats-table-personal-survival-header">
            <th>Top</th>
            <th>Answered Questions</th>
            <th>Right Answers</th>
            <th>Score</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div id="top-ten-world-xquiz" class="tab-pane fade">
        <table id="stats-table-world-xquiz">
          <thead>
          <tr id="stats-table-world-xquiz-header">
            <th>Rank</th>
            <th>Answered Questions</th>
            <th>Right Answers</th>
            <th>Highest Score</th>
            <th>Played Games</th>
            <th>Player Name</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr id="last-row-xquiz">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div id="top-ten-world-survival" class="tab-pane fade">
        <table id="stats-table-world-survival">
          <thead>
          <tr id="stats-table-world-survival-header">
            <th>Rank</th>
            <th>Answered Questions</th>
            <th>Right Answers</th>
            <th>Highest Score</th>
            <th>Played Games</th>
            <th>Player Name</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngIf="userInTopList == false">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="anchor-frame" id="status-frame">
    <div class="Timer">
      The table is sorted by the highest score
    </div>
  </div>
  </div>





